body {
  font-family: 'Source Sans Pro', sans-serif;;
  background-color: white;
}

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: lighter;
  color: #000;
}

h2 {
  font-size: 14px;
  font-style: normal;;
  font-weight: lighter;
  color: #000;
}

h1,h2{
  margin: 0px;
  padding: 10px;
}

.head {
  width:100%;
}

.head h1 {
  position: relative;
  top: 0px;
  left: 0px;
}

.head img{
  float: right;;
  width: 250px;
  height: 100px;
  background: white;
}

.tile {
  float:left;
  color:#000;
  max-width:20%;
  min-width:150px;
  text-align:center;
  background-color:#fff;
  padding-top: 10px;
  position:relative;
}

#tiles img {
  width: 100%;
  z-index:-1;
}

.tile-title {
  font-size: medium;
  text-transform: uppercase;
}

.cover {
  background: white;
  height:8%;
  position: absolute;
  top:92%;
  width:100%;
}
